<div class="d-flex justify-content-between w-100 bg-secondary text-white p-2 align-items-center">
  <h1 class=""><%= link_to "Simple Airbnb", flats_path ,class: "text-decoration-none link-light"%></h1>
  <%= link_to "New flat", new_flat_path, class: "text-decoration-none btn btn-outline-light p-2"%>
</div>
